# Student Performance Indicator Analysis

This project conducts a thorough analysis on how students academic performance based on other variables. With the help of student-performance-factors dataset, we will analyze how various factors play role in exam scores.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Load the dataset
dataset = pd.read_csv("../data/data.csv")

In [3]:
# First 10 rows
dataset.head(10)

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70
5,19,88,Medium,Medium,Yes,8,89,Medium,Yes,3,Medium,Medium,Public,Positive,3,No,Postgraduate,Near,Male,71
6,29,84,Medium,Low,Yes,7,68,Low,Yes,1,Low,Medium,Private,Neutral,2,No,High School,Moderate,Male,67
7,25,78,Low,High,Yes,6,50,Medium,Yes,1,High,High,Public,Negative,2,No,High School,Far,Male,66
8,17,94,Medium,High,No,6,80,High,Yes,0,Medium,Low,Private,Neutral,1,No,College,Near,Male,69
9,23,98,Medium,Medium,Yes,8,71,Medium,Yes,0,High,High,Public,Positive,5,No,High School,Moderate,Male,72

In [4]:
# Last 10 rows
dataset.tail(10)

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
6597,16,91,High,Medium,Yes,6,72,High,Yes,0,High,High,Public,Negative,2,No,Postgraduate,Near,Female,70
6598,9,87,Low,Medium,Yes,6,64,Medium,Yes,1,High,Medium,Public,Neutral,2,No,High School,Near,Female,64
6599,30,94,Medium,Low,No,5,52,Low,No,3,High,Medium,Private,Neutral,2,No,Postgraduate,Moderate,Female,70
6600,12,98,Medium,Low,Yes,4,54,Medium,Yes,2,Medium,High,Private,Neutral,3,No,High School,Near,Female,67
6601,20,83,Medium,Low,No,6,51,Low,Yes,2,Medium,Medium,Public,Neutral,4,No,High School,Moderate,Female,65
6602,25,69,High,Medium,No,7,76,Medium,Yes,1,High,Medium,Public,Positive,2,No,High School,Near,Female,68
6603,23,76,High,Medium,No,8,81,Medium,Yes,3,Low,High,Public,Positive,2,No,High School,Near,Female,69
6604,20,90,Medium,Low,Yes,6,65,Low,Yes,3,Low,Medium,Public,Negative,2,No,Postgraduate,Near,Female,68
6605,10,86,High,High,Yes,6,91,High,Yes,2,Low,Medium,Private,Positive,3,No,High School,Far,Female,68
6606,15,67,Medium,Low,Yes,9,94,Medium,Yes,0,Medium,Medium,Public,Positive,4,No,Postgraduate,Near,Male,64

In [5]:
# sample 
dataset.sample(10)

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
2250,19,83,Low,Low,No,8,76,Low,Yes,3,Low,Low,Public,Neutral,3,No,Postgraduate,Near,Female,65
191,25,91,Medium,Medium,No,8,72,Low,Yes,2,Medium,High,Public,Positive,0,No,Postgraduate,Near,Male,71
86,25,63,Medium,High,Yes,7,72,Medium,Yes,3,Medium,High,Private,Negative,4,No,College,Far,Male,67
4078,18,82,High,Low,No,7,52,Low,Yes,1,Low,Medium,Public,Negative,4,No,High School,Near,Female,64
5820,20,62,Medium,Medium,No,4,98,High,Yes,1,High,Low,Public,Negative,4,No,High School,Near,Male,64
974,17,71,Low,Medium,Yes,6,62,Medium,Yes,2,Low,Medium,Public,Neutral,3,Yes,College,Near,Male,62
1581,27,99,High,Medium,Yes,6,57,Medium,Yes,3,Low,Medium,Public,Neutral,3,No,College,Moderate,Male,73
285,8,73,Medium,Medium,No,7,60,Medium,No,0,High,Medium,Private,Neutral,3,No,High School,Near,Female,60
5432,21,99,High,Medium,Yes,7,91,Medium,No,3,Medium,Medium,Public,Positive,4,No,College,Near,Male,74
1847,15,73,Medium,Medium,No,7,76,High,Yes,2,Low,Medium,Public,Positive,4,No,High School,Far,Female,64

In [6]:
# dataset shape
dataset.shape

(6607, 20)

In [7]:
# info
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6607 entries, 0 to 6606
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Hours_Studied               6607 non-null   int64
 1   Attendance                  6607 non-null   int64
 2   Parental_Involvement        6607 non-null   object
 3   Access_to_Resources         6607 non-null   object
 4   Extracurricular_Activities  6607 non-null   object
 5   Sleep_Hours                 6607 non-null   int64
 6   Previous_Scores             6607 non-null   int64
 7   Motivation_Level            6607 non-null   object
 8   Internet_Access             6607 non-null   object
 9   Tutoring_Sessions           6607 non-null   int64
 10  Family_Income               6607 non-null   object
 11  Teacher_Quality             6607 non-null   object
 12  School_Type                 6607 non-null   object
 13  Peer_Influence              6607 non-null   object
 14  Physical_Activity           6607 non-null   int64
 15  Learning_Disabilities       6607 non-null   object
 16  Parental_Education_Level    6607 non-null   object
 17  Distance_from_Home          6607 non-null   object
 18  Gender                      6607 non-null   object
 19  Exam_Score                  6607 non-null   int64
dtypes: int64(7), object(13)
memory usage: 1.0+ MB

In [8]:
dataset.describe()

,Hours_Studied,Attendance,Sleep_Hours,Previous_Scores,Tutoring_Sessions,Physical_Activity,Exam_Score
count,6607.000000,6607.000000,6607.00000,6607.000000,6607.000000,6607.000000,6607.000000
mean,19.975329,79.977448,7.02906,75.070531,1.493719,2.967610,67.235659
std,5.990594,11.547475,1.46812,14.399784,1.230570,1.031231,3.890456
min,1.000000,60.000000,4.00000,50.000000,0.000000,0.000000,55.000000
25%,16.000000,70.000000,6.00000,63.000000,1.000000,2.000000,65.000000
50%,20.000000,80.000000,7.00000,75.000000,1.000000,3.000000,67.000000
75%,24.000000,90.000000,8.00000,88.000000,2.000000,4.000000,69.000000
max,44.000000,100.000000,10.00000,100.000000,8.000000,6.000000,101.000000

## Data Cleaning and Preparing for analysis

Data Checks to perform:

- Check Missing values
- Check Duplicates
- Check the number of unique values of each column
- Check various categories present in the different categorical column

In [9]:
dataset.isna().sum()

Hours_Studied                 0
Attendance                    0
Parental_Involvement          0
Access_to_Resources           0
Extracurricular_Activities    0
Sleep_Hours                   0
Previous_Scores               0
Motivation_Level              0
Internet_Access               0
Tutoring_Sessions             0
Family_Income                 0
Teacher_Quality               0
School_Type                   0
Peer_Influence                0
Physical_Activity             0
Learning_Disabilities         0
Parental_Education_Level      0
Distance_from_Home            0
Gender                        0
Exam_Score                    0
dtype: int64

In [10]:
print(dataset["Teacher_Quality"].unique())
print(dataset["Parental_Education_Level"].unique())
print(dataset["Distance_from_Home"].unique())

print(dataset["Teacher_Quality"].mode())
print(dataset["Parental_Education_Level"].mode())
print(dataset["Distance_from_Home"].mode())

# Handling null values - categorical replaces with mode
dataset['Teacher_Quality'] = dataset['Teacher_Quality'].fillna(dataset['Teacher_Quality'].mode()[0])
dataset['Parental_Education_Level'] = dataset['Parental_Education_Level'].fillna(dataset['Parental_Education_Level'].mode()[0])
dataset['Distance_from_Home'] = dataset['Distance_from_Home'].fillna(dataset['Distance_from_Home'].mode()[0])

dataset.isna().sum()

['Medium' 'High' 'Low']
['High School' 'College' 'Postgraduate']
['Near' 'Moderate' 'Far']
0    Medium
Name: Teacher_Quality, dtype: object
0    High School
Name: Parental_Education_Level, dtype: object
0    Near
Name: Distance_from_Home, dtype: object

Hours_Studied                 0
Attendance                    0
Parental_Involvement          0
Access_to_Resources           0
Extracurricular_Activities    0
Sleep_Hours                   0
Previous_Scores               0
Motivation_Level              0
Internet_Access               0
Tutoring_Sessions             0
Family_Income                 0
Teacher_Quality               0
School_Type                   0
Peer_Influence                0
Physical_Activity             0
Learning_Disabilities         0
Parental_Education_Level      0
Distance_from_Home            0
Gender                        0
Exam_Score                    0
dtype: int64

In [11]:
# Check for duplicates

dataset.duplicated().sum()

0

In [12]:
# Checking the number of unique values of each column
dataset.nunique()

Hours_Studied                 41
Attendance                    41
Parental_Involvement           3
Access_to_Resources            3
Extracurricular_Activities     2
Sleep_Hours                    7
Previous_Scores               51
Motivation_Level               3
Internet_Access                2
Tutoring_Sessions              9
Family_Income                  3
Teacher_Quality                3
School_Type                    2
Peer_Influence                 3
Physical_Activity              7
Learning_Disabilities          2
Parental_Education_Level       3
Distance_from_Home             3
Gender                         2
Exam_Score                    45
dtype: int64

In [13]:
# define numerical & categorical columns
numeric_features = [feature for feature in dataset.columns if dataset[feature].dtype != 'O']
categorical_features = [feature for feature in dataset.columns if dataset[feature].dtype == 'O']

print("Numeric features")
print(numeric_features)
print("Categorical features")
print(categorical_features)

Numeric features
['Hours_Studied', 'Attendance', 'Sleep_Hours', 'Previous_Scores', 'Tutoring_Sessions', 'Physical_Activity', 'Exam_Score']
Categorical features
['Parental_Involvement', 'Access_to_Resources', 'Extracurricular_Activities', 'Motivation_Level', 'Internet_Access', 'Family_Income', 'Teacher_Quality', 'School_Type', 'Peer_Influence', 'Learning_Disabilities', 'Parental_Education_Level', 'Distance_from_Home', 'Gender']

In [14]:
for item in categorical_features:
    print(item, ' ',dataset[item].unique())

Parental_Involvement   ['Low' 'Medium' 'High']
Access_to_Resources   ['High' 'Medium' 'Low']
Extracurricular_Activities   ['No' 'Yes']
Motivation_Level   ['Low' 'Medium' 'High']
Internet_Access   ['Yes' 'No']
Family_Income   ['Low' 'Medium' 'High']
Teacher_Quality   ['Medium' 'High' 'Low']
School_Type   ['Public' 'Private']
Peer_Influence   ['Positive' 'Negative' 'Neutral']
Learning_Disabilities   ['No' 'Yes']
Parental_Education_Level   ['High School' 'College' 'Postgraduate']
Distance_from_Home   ['Near' 'Moderate' 'Far']
Gender   ['Male' 'Female']

In [21]:
dataset.columns

Index(['Hours_Studied', 'Attendance', 'Parental_Involvement',
       'Access_to_Resources', 'Extracurricular_Activities', 'Sleep_Hours',
       'Previous_Scores', 'Motivation_Level', 'Internet_Access',
       'Tutoring_Sessions', 'Family_Income', 'Teacher_Quality', 'School_Type',
       'Peer_Influence', 'Physical_Activity', 'Learning_Disabilities',
       'Parental_Education_Level', 'Distance_from_Home', 'Gender',
       'Exam_Score'],
      dtype='object')

In [16]:
dataset.to_csv("../data/data.csv", index=False)

## Exploratory Data Analysis

In [17]:
from ydata_profiling import ProfileReport

In [18]:
full = ProfileReport(dataset, title="Dataset Profile", explorative=True)
full.to_file("profile.html")

print("Saved: profile_quick.html and profile.html")

100%|██████████| 20/20 [00:00<00:00, 11143.21it/s]0:00, 160.37it/s, Describe variable: Exam_Score]
Summarize dataset: 100%|██████████| 26/26 [00:00<00:00, 207.76it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:02<00:00,  2.12s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  4.49it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 662.71it/s]
100%|██████████| 20/20 [00:00<00:00, 1624.06it/s]00:00, 116.81it/s, Describe variable: Exam_Score]
Summarize dataset: 100%|██████████| 78/78 [00:02<00:00, 29.35it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:01<00:00,  1.75s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  1.37it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 243.43it/s]

Saved: profile_quick.html and profile.html